/* global */
:root {
  --color-main: #8b6f4e;
  --color-transparent: transparent;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-charcoal: #333333;
  --color-khaki: #c0a992;
  --color-desert-sand: #decbb7;
  --color-carmine-pink: #f4463c;
}

html,
body {
  background-color: var(--color-dark-charcoal);
  font-family: 'Open Sans', sans-serif;
  scrollbar-color: var(--color-main) var(--color-transparent);
  scroll-behavior: smooth;
}

/* components */
.btn.is-primary {
  background-color: var(--color-main);
  border: 1px solid var(--color-main);
  border-radius: 8px;
  color: var(--color-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .6px;
  overflow: hidden;
  padding: 8px 24px;
  position: relative;
  transition: all .5s ease-in-out;
}

.btn.is-primary:hover {
  background-color: var(--color-white);
  border: 1px solid var(--color-white) !important;
  color: var(--color-main) !important;
  transition: all .5s ease-in-out;
}

.btn.is-primary.is-custom {
  height: 58px;
}

.btn.is-danger {
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  border-radius: 8px;
  color: var(--color-carmine-pink);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .5px;
  overflow: hidden;
  padding: 8px 24px;
  position: relative;
  transition: all .5s ease-in-out;
}

.btn.is-danger:hover {
  background-color: var(--color-carmine-pink);
  border: 1px solid var(--color-carmine-pink) !important;
  color: var(--color-white) !important;
  transition: all .5s ease-in-out;
}

/* content styling */
input:focus {
  border: 1px solid var(--color-white) !important;
  box-shadow: 0 0 0 0 var(--color-transparent) !important;
}

.is-screen {
  display: none;
}

.is-screen.is-active {
  display: block;
}

.is-screen.is-login .is-login-wrapper .is-title {
  color: var(--color-white);
  font-size: 64px;
  font-weight: normal;
  letter-spacing: .5px;
  margin-bottom: 48px;
  text-align: center;
}

.is-screen.is-login .is-login-wrapper .is-form {
  margin-bottom: 48px;
}

.is-screen.is-chat {
  background-color: var(--color-dark-charcoal);
  padding: 32px;
}

.is-screen.is-chat .is-chat-wrapper {
  margin: 0 auto;
  width: 50%;
}

.is-screen.is-chat .navbar {
  background-color: var(--color-main);
}

.is-screen.is-chat .navbar .is-title {
  color: var(--color-white);
  font-size: 24px;
  margin-bottom: 0;
}

.is-screen.is-chat .navbar .navbar-toggler {
  background-color: var(--color-white);
}

.is-screen.is-chat .navbar .navbar-toggler:focus {
  box-shadow: 0 0 0 0 var(--color-transparent);
}

.is-screen.is-chat .navbar .offcanvas {
  width: 300px;
}

.is-screen.is-chat .navbar .offcanvas .nav-item .nav-link:hover {
  color: var(--color-main);
  transition: all .5s ease-in-out;
}

.is-wrapper {
  background-color: var(--color-desert-sand);
  padding: 16px;
}

.is-login-wrapper {
  left: 50% !important;
  position: absolute;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 50%;
}

.is-chat .is-messages {
  background-color: var(--color-desert-sand);
  height: calc(100vh - 245px);
  overflow: scroll;
  width: 100%;
}

.is-chat .is-messages .message {
  display: flex;
  font-size: 20px;
  padding: 10px 0;
}

.is-chat .is-messages .message>div {
  background-color: var(--color-white);
  box-shadow: 0 0 20px 5px rgba(0, 145, 255, 0.05);
  max-width: 90%;
  padding: 8px 16px;
}

.is-chat .is-messages .message.user-message {
  justify-content: flex-end;
}

.is-chat .is-messages .message.other-message {
  justify-content: flex-start;
}

.is-chat .is-messages .message .name {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-main);
  margin-bottom: 5px;
}

.is-chat .is-messages .message .text {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-dark-charcoal);
  margin-bottom: 5px;
}

.is-chat .is-messages .message .text {
  word-wrap: break-word;
}

.footnote {
  color: var(--color-dark-charcoal);
  font-size: 12px;
  opacity: .6;
}